.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  color: white;
  font-family: 'Righteous';
}

.App-header > h1 {
  font-size: 50px;
  color: #21ba45
}

.App-intro {
  /* font-size: large; */
}

.squadLeadsControl {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Squad {
  padding: 10px;
  font-size: 20px;
}

.Squad-leader {
  font-weight: bold;
  font-size: 30px;
}

.List-item {
  font-size: 20px;
}

#Sub-header {
  font-weight: bold;
  font-size: 40px;
  Color: #fbbd08;
}

.App, #New-name, #Sub-header, .List-item, h2, .ui.button, h1 {
  font-family: 'Righteous';
}

.With-button {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Edit-list-subcontainer {
  height: 350px;
  overflow-y: scroll;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 300px;
  margin-right: 300px;
}