.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.App-header {
  background-color: #000;
  height: 100px;
  padding-top: 25px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.App-intro {
  font-size: large;
}

.squadLeadsControl {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.squad {
  padding: 10px;
}