.App {
  text-align: center;
}

#root {
  background-color: seashell;
  height: 100%;
}

.App-header {
  background-color: black;
}

.App-header > h1 {
  font-size: 50px;
  color: #21ba45;
  font-family: 'Righteous', cursive;
}

.squadLeadsControl {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Squad {
  padding: 10px;
  font-size: 20px;
}

.Squad-leader {
  font-weight: bold;
  font-size: 30px;
}

.List-item {
  font-size: 20px;
}

#Sub-header {
  font-weight: bold;
  font-size: 30px;
  Color: #fbbd08;
  font-family: 'Lobster';
  margin-right: 2px;
}

.App, #New-name, .List-item, h2, .ui.button, .popup {
  font-family: 'Righteous';
}

.With-button {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Edit-list-subcontainer {
  height: 450px;
  overflow-y: scroll;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25%;
  margin-right: 25%;
}